BOT_TOKEN=
DATABASE_URL=sqlite:///./app.db
APP_SECRET_KEY=
DEFAULT_SSH_TIMEOUT=20
ALLOWED_TELEGRAM_USER_IDS=
GIT_REPO_URL=https://github.com/pouramin/noizdns-deploy.git
GIT_BRANCH=main
HOST=127.0.0.1
PORT=8000
